# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GameJamBossBunny.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\ProjectUnity\WPG5\New folder (2)\GameJamBossBunny\.idea\.idea.GameJamBossBunny\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
